body {
    font-family: "space grotesk", sans-serif;
    margin: 0;
}
header {
    background-color: #1A3F66;
    padding: 1rem 10px;
}
header span {
    color: White;
    font-size: 1.6rem;
    font-weight: 1000;
}
header h4 {
    color: white;
nav {
    background-color: #E3D5BC;
}
nav ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
    display: flex;
}
nav a{
    padding: 1rem 1rem;
}
nav a {
    display: block;
    padding: .83rem 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    color: #1A3F66;
    font-weight: 500;
}
nav a:hover {
    color: #768CA3;
}
nav li.active a {
   background-color: #768CA3;
    Color: white;
    Font-weight: bold;
}
/*Main stuff here*/
main {
    padding: 1rem 10px;
}
Main h1 {
    color: black;
}
Main h2 {
    color: black;
    margin-bottom: .2rem;
}
Main p {
    margin: 0;
    color: black;
}
Main ol {
    padding: .5rem 30px;
    background-color: #B8D3E5;
}
Main dl dt{
    color: black;
    font-weight: 700;
    margin-top: 1rem;
}
main ul{
    list-style-type: circle;
    background-color: #B8D3E5;
}
Main ul li{
    line-height: 25%;
    padding: .5rem;
    font-size: .9rem;
}
Main strong {
    font-weight: 700;
    color: black;
}
main em{ 
    font-weight: 300;
}
main address {
    font-style: normal;
    background-color: #E3D5BC;
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid black; 
    width: 200px;
}
main a{
    color: #B8D3E5;
}
main a hover{
    color: #786CA3;
}
Footer {
    background-color: #1A3F66;
    text-align: center;
    padding: 1rem 0;
    font-size: .8rem;
    color: white;
}
Footer p{
    margin: 0;
    Letter-spacing: 3px;
}








