/*PREVENT PROBLEMS ON DIFFERENT BROWSERS*/
*{box-sizing: border-box;



}
body {
    font-family: "space grotesk", sans-serif;
    margin: 0;
}
header {
    background-color: #1A3F66;
    padding: 1rem 10px 2rem 10px;
}
header img{
    display: flex;
    align-items: center;
    float: left;
    margin-right: 15px;
}
header span {
    color: White; 
    font-size: 2rem;
    font-weight: 1000;

}
header h4 {
    display: flex;
    align-items: center;
    height: 20px;
    color: white;
    margin: 0;
}

/*small screen navigation*/
@media only screen and (max-width:600px){
nav {
    background-color: #E3D5BC;
    Background-image: linear-gradient(to bottom, #E3D5BC, #768CA3);
}   
 nav ul{
        margin: 0;
        padding: 0;
    }
nav a{
    display:block;
    text-align:center;
    padding: .8rem;
    color:#1A3F66;
    text-decoration: none;
    border-bottom: solid 1px #333;
    font-weight: 700;
    text-transform: uppercase;
}
nav .active a{
    background-color: #768CA3;
    Color: White;
    Font-weight: bold;
}
nav a:hover{
    color: white;
}

} /*end small screen*/

/*LARGE screens navigation*/
@media only screen and (min-width:601px){
nav {
    background-color: #E3D5BC;
     Background-image: linear-gradient(to bottom, #E3D5BC, #768CA3);
}
nav ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
    display: flex;
}
nav a{
    padding: 1rem 1rem;
}
nav a {
    display: block;
    padding: .83rem 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    color: #1A3F66;
    font-weight: 500;
}
nav a:hover {
    color: white;
}
nav li.active a {
    background-color: #768CA3;
    Color: White;
    Font-weight: bold;
}
}/*end LARGE screens*/
/*hero stuff here*/
.hero{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0 .48rem;
   
}

/*Main stuff here*/
main {
    padding: 1rem 10px 2rem 10px;
}
Main h1 {
    color: black;
}
Main h2 {
    color: black;
    margin-bottom: .2rem;
}
Main p {
    margin: 0;
    color: black;
}
Main ol {
    padding: .5rem 30px;
    background-color: #768CA3;
    color: white;
}
Main dl dt{
    color: white;
    font-weight: 700;
    margin-top: 1rem;
}
main ul{
    list-style-type: circle;
    background-color: #768CA3;
    color: white;
}
Main ul li{
    line-height: 25%;
    padding: .5rem;
    font-size: .9rem;
}
Main strong {
    font-weight: 700;
    color: black;
}
main em{ 
    font-weight: 300;
}
main address {
    font-style: normal;
    background-color: #E3D5BC;
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid black; 
    width: 200px;
}
main a{
    color: #1A3F66;
}
main a hover{
    color: #786CA3;
}
/*main image stuff here*/
figure.wrapped {
    margin:0 0 0 10px;
    width: 40%;
    float: right;
}
figure.wrapped img {
    width: 100%;
    height: auto;
}
figure.wrapped figcaption {
    text-align: center;
    font-size: .75rem;
}
/*Gallery stuff*/
div.gallery {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 20px;
}
div.gallery figure {
    margin: 0;
}
div.gallery figcaption {
    text-align: center;
    font-size: 1rem;
    color: black;
}
 div.gallery img{
    max-width: 100%;
    height: auto;
 }   
div.gallery img:hover {
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5);
}
div.kim  {
    text-align: center;
}
/*contact form begins here*/ 
.myForm label {
    margin: .5rem;
}
.myForm label, .myForm select, .myForm [type=text], .myForm [type=email], .myForm [type=tel], .myForm textarea {
    display: block;
}
.myForm [type=text], .myForm [type=email], .myForm [type=tel], .myForm select, .myForm textarea {
    border: solid 1px #888;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 200;
    background-color: rgba(227, 213, 188, .5);
}
.myForm textarea {
    height: 6rem;
    background-color: rgba(227, 213, 188, .5);
    width: 550px;
}
.myForm :required {
background-color: rgba(227, 213, 188, .5);
}
.myForm [type=submit] {
    background-color: #768CA3;
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: white;
    margin: 1rem 0 0 1vw;
    font-size: 1rem;
}

Footer {
    clear:both;
}
Footer {
    background-color: #1A3F66;
    text-align: center;
    padding: 1rem 0;
    font-size: .8rem;
    color: white;
}
Footer p{
    margin: 0;
    Letter-spacing: 3px;
}
header, nav, main, footer {
    max-width: 94rem;
    margin: 0 auto;
}